@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.restaurant--group_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.restaurant--group_cards .card {
  width: 90%;
  height: 250px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  padding-bottom: 2em;
  margin-bottom: 3em;
  color: black;
}

.restaurant--group_cards .card .card_image {
  width: 100%;
  border-radius: 18px 18px 0 0;
  height: 85%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.restaurant--group_cards .card .card_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1em;
  width: 100%;
}

.restaurant--group_cards .card .card_description .description_text {
  padding-left: 1.5em;
}

.restaurant--group_cards .card .card_description .description_text .text_title {
  font-weight: 500;
  margin-bottom: 5px;
}

.restaurant--group_cards .card .card_description .heart {
  padding-right: 1em;
}

.restaurant--group_cards .card .card_description .heart:hover {
  color: #ff46da;
}

.exploration_btn {
  padding: 15px 20px;
  border-radius: 30px;
  border: none;
  font-weight: 400;
  color: white;
  background: linear-gradient(314deg, #9356dc, #ff46da);
  background-size: 200% 200%;
  font-size: 1em;
  margin-bottom: 30px;
  -webkit-animation: AnimationName 5s ease infinite;
  animation: AnimationName 5s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 46% 0%;
  }
  50% {
    background-position: 55% 100%;
  }
  100% {
    background-position: 46% 0%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 46% 0%;
  }
  50% {
    background-position: 55% 100%;
  }
  100% {
    background-position: 46% 0%;
  }
}

.background-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.main--bloc_group {
  width: 100%;
  background-color: #f2f2f2;
  position: relative;
  bottom: 55px;
  padding: 30px 15px;
  border-radius: 50px 50px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2em;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main--bloc_group .title-heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}

.main--bloc_group .title-heart .shrnk {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
}

.main--bloc_group .title-heart .heart {
  font-size: 40px;
}

.main--bloc_group footer {
  margin-top: auto;
}

.starter {
  font-size: 18px;
  font-weight: 500;
}

.underline {
  width: 2.5rem;
  border-top: 3px solid #99e2d0;
  margin: 0.5rem 0 0 0;
}

.btn--group_meal {
  position: relative;
  width: 100%;
  padding-top: 1em;
  opacity: 0;
  -webkit-animation: fade-in 750ms linear;
          animation: fade-in 750ms linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 1ms ease;
          animation-delay: 1ms ease;
}

.btn--group_meal:nth-child(1) {
  -webkit-animation-delay: 220ms;
          animation-delay: 220ms;
}

.btn--group_meal:nth-child(2) {
  -webkit-animation-delay: 440ms;
          animation-delay: 440ms;
}

.btn--group_meal:nth-child(3) {
  -webkit-animation-delay: 660ms;
          animation-delay: 660ms;
}

.btn--group_meal:nth-child(4) {
  -webkit-animation-delay: 880ms;
          animation-delay: 880ms;
}

.btn--group_meal:nth-child(5) {
  -webkit-animation-delay: 1100ms;
          animation-delay: 1100ms;
}

.btn--group_meal:nth-child(6) {
  -webkit-animation-delay: 1320ms;
          animation-delay: 1320ms;
}

.btn--group_meal:nth-child(7) {
  -webkit-animation-delay: 1540ms;
          animation-delay: 1540ms;
}

.btn--group_meal:nth-child(8) {
  -webkit-animation-delay: 1760ms;
          animation-delay: 1760ms;
}

.btn--group_meal:nth-child(9) {
  -webkit-animation-delay: 1980ms;
          animation-delay: 1980ms;
}

@-webkit-keyframes fade-in {
  0%, 30% {
    opacity: 0;
    top: 10px;
  }
  50% {
    opacity: 0.2;
    top: -11px;
  }
  60% {
    opacity: 0.4;
    top: 11px;
  }
  75% {
    opacity: 0.7;
    top: -5px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes fade-in {
  0%, 30% {
    opacity: 0;
    top: 10px;
  }
  50% {
    opacity: 0.2;
    top: -11px;
  }
  60% {
    opacity: 0.4;
    top: 11px;
  }
  75% {
    opacity: 0.7;
    top: -5px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

.food--list {
  width: 100%;
}

.btn-meal {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90vw;
  background-color: #fff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: black;
  border-radius: 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
}

.btn-meal:hover > .valid {
  margin-right: 0;
  margin-left: 20px;
}

.btn-meal:hover > .meal {
  width: calc(100% - 100px);
  overflow: hidden;
}

.btn-meal:hover > .meal > .meal_name, .btn-meal .meal_quote {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.btn-meal:hover > .valid > .valid-icon {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.btn-meal .valid {
  padding: 0;
  position: relative;
  background-color: #99e2d0;
  overflow: hidden;
  -webkit-transition-duration: 750ms;
          transition-duration: 750ms;
  margin-right: -5rem;
  width: 4.7rem;
  margin-left: 1em;
}

.btn-meal .valid .valid-icon {
  color: white;
  padding: 25px;
  font-size: 25px;
  -webkit-transition-duration: 700ms;
          transition-duration: 700ms;
}

.btn-meal .meal {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 15px;
  white-space: nowrap;
}

.btn-meal .meal .meal_name {
  font-weight: 700;
  font-size: 18px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  white-space: nowrap;
  width: calc(100% - 0px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.btn-meal .meal .meal_quote {
  font-size: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 98%;
  overflow: hidden;
}

.btn-meal .meal_price {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -o-object-fit: contain;
     object-fit: contain;
  height: 40px;
  margin-left: auto;
  margin-right: 0;
}

.btn-meal .meal_price p {
  margin-top: auto;
  font-weight: 700;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto", sans-serif;
}

.logo--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 5;
}

.logo--container .logo {
  padding: 15px 0 10px 0;
  width: 45%;
  height: auto;
  font-family: "Shrikhand", cursive;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
}

.main--location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  background-color: #f2f2f2;
  padding: 18px 0 18px 0;
  z-index: 4;
}

.main--location .location {
  margin-right: 20px;
  color: #3d3c3c;
  font-size: 16px;
}

.main--location .location_name {
  color: #3d3c3c;
  font-size: 16px;
  margin-right: 3vw;
}

.main--exploration {
  width: 100%;
  background-color: #faf9f9;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 35px;
  row-gap: 25px;
}

.main--exploration .exploration_title {
  width: 78%;
  text-align: center;
}

.main--exploration .exploration_description {
  width: 100%;
  text-align: center;
  color: #3d3c3c;
}

.main--howto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 25px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 2em auto;
}

.main--howto .howto--title {
  margin-left: 1.4em;
}

.main--howto .btn_bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 20px;
  margin-left: 1em;
}

.main--howto .btn_bloc .btn--number {
  position: relative;
  left: 13px;
  padding-top: 3px;
  text-align: center;
  height: 25px;
  width: 25px;
  background-color: #9356dc;
  border-radius: 15px;
  color: white;
  font-weight: 500;
}

.main--howto .btn_bloc .btn--id {
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 17px 30px;
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-weight: 500;
  padding-left: 30px;
  color: #3b3b3b;
  font-size: 17px;
}

.main--howto .btn_bloc .btn--id .phone {
  padding-right: 18px;
  color: #686767;
}

.main--restaurants {
  background-color: #faf9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em 0;
}

.main--restaurants .restaurant--title {
  margin-bottom: 2em;
  width: 90%;
}

.new {
  position: relative;
  z-index: 55;
  bottom: 100%;
  left: 30%;
  background-color: #fff;
  padding: 5px 15px;
  border: none;
  border-radius: 7px;
  background-color: #99e2d0;
  color: #008000;
  font-weight: 500;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #252525;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 30px;
  row-gap: 25px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .footer--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  row-gap: 15px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer .footer--list .footer_logo {
  color: white;
  font-family: "Shrikhand", cursive;
  margin-right: auto;
  font-size: 1.2em;
}

footer .footer--list .list_text {
  color: white;
  margin-right: auto;
}

footer .footer--list .list_iconText {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .footer--list .list_iconText .fork {
  color: white;
}

footer .footer--list .list_iconText .list_icon {
  color: white;
  width: 24px;
  padding-left: 2px;
}

footer .footer--list .list_iconText .list_text {
  padding-left: 8px;
}

a {
  text-decoration: none;
}

#card_1, #card_2 {
  padding-bottom: 1em;
}
/*# sourceMappingURL=style.css.map */