.restaurant--group_cards {
    @include colMode();

    .card {
        width: 90%;
        height: 250px;
        background-color: #fff;
        @include colMode();
        object-fit: cover;
        border-radius: 20px;
        padding-bottom: 2em;
        margin-bottom: 3em;
        color: black;

        .card_image {
            width: 100%;
            border-radius: 18px 18px 0 0;
            height: 85%;
            box-sizing: border-box;
            object-fit: cover;
            position: relative;
        }

        .card_description {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 1em;
            width: 100%;

            .description_text {
                padding-left: 1.5em;

                .text_title {
                    font-weight: 500;
                    margin-bottom: 5px;
                }
            }
        }
    }
}

.heart-group {
    display: flex;
    justify-content: center;
    align-items: center;
    .heart-svg-empty {
        position: relative;
        z-index: 1;
        padding: 0.5em;
        margin-right: 1em;
        transition: 1.3s ease-out;
        &:hover {
            filter: opacity(0);
        }
        &:hover + .heart-full{
            transform: scale(1.2);
        }
    }

    .heart-full {
        position: absolute;
        z-index: 0;
        margin-right: 1em;
        font-size: 18px;
        color: #9c47fc;
        display: block;
        background: -webkit-linear-gradient($pink, $purp);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 0.5em;
        transition: 0.3ms ease-in-out;


    }
}
.heart-group_big {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    .heart-svg-empty_big {
        height: 30px;
        width: 30px;
        position: relative;
        z-index: 1;
        transition: 750ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
        text-align: center;
        &:hover {
            filter: opacity(0);
            transform: scale(1.2);
            
        }
        &:hover + .heart-full_big{
            transform: scale(1);

        }
        
    }

    .heart-full_big {
        position: absolute;
        z-index: 0;
        width: 30px;
        height: 30px;
        font-size: 28px;
        color: #9c47fc;
        display: block;
        background: -webkit-linear-gradient($pink, $purp);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 350ms ease-in-out;
        text-align: center;
        


    }
}
