@import "bp";

.restaurant--group_cards {
    @include colMode();
    @include desktop {
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        padding: 15px 2.5em 40px 2.5em;
        justify-content: space-between;
    }
    #palette{
        margin-bottom: 70px;
    }
    .card {
       
        width: 90%;
        height: 250px;
        background-color: #fff;
        @include colMode();
        border-radius: 20px;
        padding-bottom: 2em;
        position: relative;
        top: 25px;
        color: black;
        margin-bottom: 60px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        @include desktop {
            width: 48%;
        }

        .card_image {
            width: 100%;
            border-radius: 18px 18px 0 0;
            height: 80%;
            box-sizing: border-box;
            object-fit: cover;
            position: relative;
            
            
        }

        .card_description {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 1em;
            width: 100%;
            font-size: 1.2em;

            .description_text {
                padding-left: 1.5em;

                .text_title {
                    font-weight: 500;
                    margin-bottom: 5px;
                }
            }
        }
    }
}



.heart-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    transform: scale(1.4);

    .heart-svg-empty {
        position: relative;
        z-index: 1;
        padding: 0.5em;
        transition: 350ms ease-out;
        transition-delay: 250ms;
        &:hover {
            filter: opacity(0);
            transform: scale(0.7);
        }
        &:hover + .heart-full {
            transform: scale(1.1);
        }
    }

    .heart-full {
        transform: scale(0);
        position: absolute;
        z-index: 0;
        font-size: 18px;
        color: #9c47fc;
        display: block;
        background: -webkit-linear-gradient($pink, $purp);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 0.5em;
        transition: 500ms ease-in-out;
        transition-delay: 350ms;
    }
}
.heart-group_big {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    margin-top: 3px;
    .heart-svg-empty_big {
        height: 30px;
        width: 30px;
        position: relative;
        z-index: 0;
        transition: 550ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
        text-align: center;
        &:hover {
            filter: opacity(0);
            transform: scale(0.7);
        }
        &:hover + .heart-full_big {
            transform: scale(1);
        }
    }

    .heart-full_big {
        transform: scale(0);

        position: absolute;
        z-index: 1;
        width: 30px;
        height: 30px;
        font-size: 28px;
        color: #9c47fc;
        display: block;
        background: -webkit-linear-gradient($pink, $purp);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 550ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
        text-align: center;
    }
}
