
.main--bloc_group{
    width: 100%;
    background-color: $gray;
    position: relative;
    bottom: 55px;
    padding: 45px 30px ;
    border-radius: 50px 50px 0 0;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    align-items: flex-start;




    .title-heart{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    
        .shrnk{
            font-family: $shrk;
            font-size: 18px;


        }
    }
    


    footer{
        margin-top: auto;

    }

}

.underline{
    width: 2.5rem;
    border-top: 3px solid #99e2d0;
    margin: .5rem 0 0 0;
}






