@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import 'variables';
@import 'mixins';
@import 'cards';
@import 'buttons';
@import 'bg-img';
@import 'food-list';
@import 'bp';

 *,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
}

body {
    @include colMode;
    font-family: "Roboto", sans-serif;
}

.arrow{
    position: absolute;
    top: 25px;
    left: 20px;
    .arrow-icon{
        font-size: 24px;
        color: #252525;
    }
}

.logo--container {
    @include hCenter;
    width: 100%;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 5;
    .logo {
        padding: 15px 0 10px 0;
        width: 45%;
        height: auto;
        font-family: $shrk;
        user-select: none;
        text-align: center;
    }
}


.main--location {
    display: flex;
    justify-content: center;
    font-weight: 500;
    background-color: #f2f2f2;
    padding: 18px 0 18px 0;

    z-index: 4;
    .location {
        margin-right: 20px;
        color: rgb(61, 60, 60);
        font-size: 16px;
    }
    .location_name {
        color: rgb(61, 60, 60);
        font-size: 16px;
        margin-right: 3vw;
    }
}

.main--exploration {
    width: 100%;
    background-color: #faf9f9;
    z-index: 2;
    @include colMode();
    padding: 35px;
    row-gap: 25px;

    .exploration_title {
        width: 78%;
        text-align: center;
    }

    .exploration_description {
        width: 100%;
        text-align: center;
        color: rgb(61, 60, 60);
    }

    
}

.main--howto {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 2em auto;

    .howto--title {
        margin-left: 1.4em;
    }

    .btn_bloc {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        margin-left: 1em;

        .btn--number {
            position: relative;
            left: 13px;
            padding-top: 3px;
            text-align: center;
            height: 25px;
            width: 25px;
            background-color: $purp;
            border-radius: 15px;
            color: white;
            font-weight: 500;
        }
        .btn--id {
            width: 80vw;
            display: flex;
            flex-direction: row;
            padding: 17px 30px;
            border: none;
            border-radius: 20px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            font-weight: 500;
            padding-left: 30px;
            color: rgb(59, 59, 59);
            font-size: 17px;

            .phone {
                padding-right: 18px;
                color: rgb(104, 103, 103);
            }
        }
    }
}

.main--restaurants {
    background-color: #faf9f9;

    @include colMode();
    padding: 2em 0;

    .restaurant--title {
        margin-bottom: 2em;
        width: 90%;
    }

    
}

.new {
    position: relative;
    z-index: 55;
    bottom: 100%;
    left: 30%;
    background-color: #fff;
    padding: 5px 15px;
    border: none;
    border-radius: 7px;
    background-color: $mint;
    color: $gren;
    font-weight: 500;
}

footer {
    @include colMode();
    width: 100%;
    background-color: #252525;
    z-index: 2;
    @include colMode();
    padding: 20px 30px;
    row-gap: 25px;
    justify-content: start;
    align-items: flex-start;

    .footer--list {
        @include colMode();
        width: 100%;
        row-gap: 15px;
        justify-content: flex-start;

        .footer_logo {
            color: white;
            font-family: $shrk;
            margin-right: auto;
            font-size: 1.2em;
        }

        .list_text{
            color: white;
            margin-right: auto;
        }
        .list_iconText {
            width: 100%;
            display: flex;
            flex-direction: row;

            .fork{
                color: white;
            }

            .list_icon {
                color: white;
                width: 24px;
                padding-left: 2px;
            }

            .list_text{
                padding-left: 8px;
            }
        }
        
    }
}

a{
    text-decoration: none;
    
}



#card_1, #card_2{
    padding-bottom: 1em;
}

 .loader--section{
     width: 100vw;
     height: 100vh;
     background-color: rgb(255, 255, 255); 
     line-height: 50px;
     display: flex;
     justify-content: center;
     align-items: center;    
     position: fixed;
     z-index: -500;
     top: 0;left: 0;right: 0;bottom: 0; 
     animation: load 1200ms linear;
     transform: translateX(0);
     opacity: 0;
     
    

     @keyframes load {
        0%{
            opacity: 1;
            z-index: 500;
            
        }       
        80%{
            opacity: 1;
            z-index: 500;
            
        }       
        100%{
         opacity: 0;
        }
        }
     .loader {
         height: 50px;
         width: 50px;
         display: inline-block;
         

      
     }
  
     .loader-quart{
         border: 6px solid rgb(255, 255, 255);
         border-radius: 50px;
         position: relative;
         animation: load 3s linear;
        opacity: 0;
     }
  
     .loader-quart::after{
         content: "";
         position: absolute;
         top: -6px;
         left: -6px;
         bottom: -6px;
         right: -6px;
         border: 6px solid transparent;
         border-top-color:  rgb(114, 85, 218);
         border-bottom-color:  rgb(175, 153, 255);
         border-radius: 50px;
         animation: spin 2s linear infinite;
         
         
  
     }
     }
  
     @keyframes spin {
         0%{transform: rotate(0deg);}
         100%{transform: rotate(360deg);}
      
     }
