@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

$purp: #9356dc;
$pink: #ff46da;
$mint: #99e2d0;

@mixin hCenter {
    display: flex;
    justify-content: center;
}
@mixin vCenter {
    display: flex;
    align-items: center;
}
@mixin xyCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin colMode {
    display: flex;
    flex-direction: column;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    @include colMode();
    align-items: center;
}

